<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
		table, th, td { border: 1px solid black; }
	</style>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

</head>
<body>
    <form id="form_register">
        <fieldset style="display: inline-block;">
            <legend>방명록 등록</legend>
            이름 : <input type="text" name="name" placeholder="사용자 이름"><br>
            방명록 : <input type="text" name="comment" placeholder="방명록"><br>
            <div class="register-btn">
                <button type="button" onclick="register();">등록</button>
            </div>
        </fieldset>
    </form>

    <table cellspacing="0" cellpadding="10" style="margin-top: 30px;">
        <tr>
            <th>ID</th>
            <th>작성자</th>
            <th>방명록</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <% for(let i=0; i<data.length; i++) { %>
            <tr>
                <td><%=data[i].id%></td>
                <td><%=data[i].name%></td>
                <td><%=data[i].comment%></td>
                <td><button type="button" onclick="update_load('<%=data[i].id%>', this);">수정</button></td>
                <td><button type="button" onclick="delete_visitor('<%=data[i].id%>', this);">삭제</button></td>
                <!-- tag에 함수를 달 때, 함수의 인자로 this를 넘겨주면, 함수가 걸려있는 태그가 this 안에 담긴다. 여기서 this의 부모는 td, tr에도 접근가능 
                그러면 this를 받는 element에 있는 부모의 부모(parent)인 tr을 삭제할 수 있다!-->
            </tr>
        <% } %>
    </table>
<!-- delete 키 만들고 동적으로 연결하기 따라서 axios사용, 이때 삭제는 PK 프라이머리키가 되어있는 경우에 사용가능 -->
    <script>
        function delete_visitor(delete_id, element){
            axios({
                method : 'delete',
                url : '/visitor/delete',
                data : {id : delete_id}
            })
            .then((response)=>{
                if(response.data) element.parentElement.parentElement.remove(); 
                else alert("알 수 없는 오류 발생!");
                // element.parantElement.parantElement.remove(); 
            })
        }
    </script>

    <script>
        function register(){
            let form = document.getElementById("form_register");
            let data = {
                // id: form.id.value, id는 1씩 증가이므로 하지 않아도 된다 
                name: form.name.value,
                comment : form.comment.value
            }
            axios({
                method: "post",
                url: '/visitor/register',
                data: data
            })
            .then((response) => {
                // 이렇게 쓰는 걸 권장하진 않으나 지금은 테이블 하나만 가져오므로 이렇게 작성한다. 
                //id는 서버에서 받아서 사용 data는 name과 comment 받아서 사용 
                $("table").append(`
                <tr>
                    <td>${response.data}</td>
                    <td>${data.name}</td>
                    <td>${data.comment}</td>
                <td><button type="button" onclick="update_load(${response.data}, this);">수정</button></td>
                <td><button type="button" onclick="delete_visitor(${response.data}, this);">삭제</button></td>
                </tr>
                    `)
            })
        }
    </script>
</body>
</html>